body {
    background-image: url("https://wallpaperaccess.com/full/1918832.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
    font-family: 'Maven Pro', sans-serif;
     
}
li{
    padding: 10px;
}
h1 {
    display: flex;
    font-size: 54px;
    justify-content: center;
    text-align: center;
    color: #44b348; 
    text-shadow: 2px 2px 1px rgb(15, 106, 167);
    font-weight: 800;
}

h2{
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;  
    color: rgb(15, 106, 167);
    text-shadow: 2px 2px 1px white;
}

ul {
    display: flex;
    flex-direction: column;     
    align-items: right;
    justify-content: right;
    color: rgb(15, 106, 167); 
    text-shadow: 2px 2px 1px white;
    font-weight: 700;
    font-size: large;
}

.start {
    min-width: 250px;
    border-radius: 12px;
    padding: 14px;
    margin: 5px;
    background-color: rgb(15, 106, 167);
    color: white;
    border: 2px solid #44b348;
    font-family: 'Maven Pro', sans-serif;
    font-size: medium;
}

.button {
    background-color: rgb(15, 106, 167);
    color: white;
    border: 2px solid #44b348;
    font-family: 'Maven Pro', sans-serif;
    font-size: medium;
    float: left;
    border-radius: 12px;
    padding: 14px;
    margin: 5px;
}

.actionBoard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.playOption {
    background-color: rgba(255,255,255,.5);
    color: rgb(15, 106, 167);
    border: 2px solid #44b348;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;

}

h3 {
    text-align: center;
    font-size: 20px;
}
.snippet{
    text-align: center;
    font-size: 14px;

}

.context {
    background-color: rgba(255,255,255,.5);
    color: rgb(15, 106, 167);
    border: 2px solid #44b348;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    max-width: auto;

}

.actionPrompt{
    color:rgb(15, 106, 167);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 1px white;

}

.actionDirections {
    font-size: 14px;
}

.simPic{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    max-height: 250px;
    margin: 15px;
    border: 2px solid #44b348;
    border-radius: 8px; 
}

.tamaInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
 
}

div {
    display: flex;
    justify-content: center;
}
.imageSources{
    font-family: 'Maven Pro', sans-serif;
    font-size: smaller;
    align-items: center;
    justify-content: space-around;
}
